<div class="container">
  <section id="about" class="about">
    <div class="about-me">
      <div class="section-title">
        <h2>About Page</h2>
        <p>Learn more about me</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="media/pic.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8">
          <h3 >WELL-ROUNDED IT STUDENT</h3>
          <p class="description">Excited to embark on a IT career in flexible roles, armed with a growing skill set in technology and a strong dedication to attention to detail. Motivated by my eagerness to execute tasks accurately and thrive on self-motivation. Constantly seeking ways to improve and adapt my communication skills to better serve the evolving needs of the field.</p>
          <ul class="details">
            <li><strong>Degree:</strong> <span>Bachelor of Science in Information Technology</span></li>
            <li><strong>Birthday:</strong> <span>July 24, 2002</span></li>
            <li><strong>Phone:</strong> <span>09776120397</span></li>
            <li><strong>City:</strong> <span>Zamboanga City</span></li>
            <li><strong>Age:</strong> <span>21</span></li>
            <li><strong>Email:</strong> <span>lesterleand@example.com</span></li>
            <li><strong>Github:</strong> <span>https://github.com/JustLestBored</span></li>
            <li><strong>Discord:</strong> <span>@itsssagee</span></li>
          </ul>
        </div>
      </div>
    </div>
    
  </section>

  <div class="bgk-cardcolor2">
    <section class="skills">
      <h3 class="skills-title">My Skills</h3>
      <div class="content-skill">
        <div class="row">
          <div class="col-sm-2">
            <div class="skill-card">
              <box-icon color="white">
                <i class='bx bxl-html5 bx-lg bx skill-logo'></i>
              </box-icon>
              <span class="skill-name">HTML</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-css3 bx-lg skill-logo'></i>
              <span class="skill-name">CSS</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-javascript bx-lg skill-logo'></i>
              <span class="skill-name">JavaScript</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-react bx-lg skill-logo'></i>
              <span class="skill-name">React</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-tailwind-css bx-lg skill-logo'></i>
              <span class="skill-name">Tailwind CSS</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-python bx-lg skill-logo'></i>
              <span class="skill-name">Python</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-java bx-lg skill-logo'></i>
              <span class="skill-name">Java</span>
            </div>
          </div>
          
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-mongodb bx-lg skill-logo'></i>
              <span class="skill-name">MongoDB</span>
            </div>
          </div>
          
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-nodejs bx-lg skill-logo'></i>
              <span class="skill-name">NodeJS</span>
            </div>
          </div>
          
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-flutter bx-lg skill-logo'></i>
              <span class="skill-name">Flutter</span>
            </div>
          </div>
          
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-java bx-lg skill-logo'></i>
              <span class="skill-name">Java</span>
            </div>
          </div>
          
          <div class="col-sm-2">
            <div class="skill-card">
              <i class='bx bxl-android bx-lg skill-logo'></i>
              <span class="skill-name">Kotlin</span>
            </div>
          </div>
          
        </div>
      </div>
      
    </section>
  </div>
  
</div>


