<div class="container">
  <section id="about" class="about">
    <div class="about-me">
      <div class="section-title">
        <h2>About Page</h2>
        <p>Learn more about me</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="media/pic.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8">
          <h3 >WELL-ROUNDED IT STUDENT</h3>
          <p class="description">Excited to embark on a IT career in flexible roles, armed with a growing skill set in technology and a strong dedication to attention to detail. Motivated by my eagerness to execute tasks accurately and thrive on self-motivation. Constantly seeking ways to improve and adapt my communication skills to better serve the evolving needs of the field.</p>
          <ul class="details">
            <li><strong>Degree:</strong> <span>Bachelor of Science in Information Technology</span></li>
            <li><strong>Birthday:</strong> <span>July 24, 2002</span></li>
            <li><strong>Phone:</strong> <span>09776120397</span></li>
            <li><strong>City:</strong> <span>Zamboanga City</span></li>
            <li><strong>Age:</strong> <span>21</span></li>
            <li><strong>Email:</strong> <span>lesterleand@example.com</span></li>
            <li><strong>Github:</strong> <span>https://github.com/JustLestBored</span></li>
            <li><strong>Discord:</strong> <span>@itsssagee</span></li>
          </ul>
        </div>
      </div>
    </div>
    
  </section>

  <section class="interests">
    <div class="bgk-cardcolor">
      <div class="container">
        <div class="section-title">
          <h2>Interests</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line"></i>
              <h3>Online Games</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line"></i>
              <h3>Food</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line"></i>
              <h3>Sports</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line"></i>
              <h3>Anime</h3>
            </div>
          </div>
          
          <!-- End of repeat block -->
        </div>
      </div>
    </div>
  </section>

  <div class="bgk-cardcolor2">
    <section class="skills">
      <h3 class="skills-title">My Skills</h3>
      <div class="row">
          <div class="col-md-6">
              <ul class="skills-list">
                <li class="skill-item">
                  <div class="title">
                      <h5>HTML & CSS</h5>
                      <data value="60">2 years of Experience</data>
                  </div>
                  <div class="progress-bg">
                      <div class="progress-fill" style="width: 60%;"></div>
                  </div>
                </li>

                <li class="skill-item">
                  <div class="title">
                      <h5>PHP & PYTHON</h5>
                      <data value="60">2 years of Experience</data>
                  </div>
                  <div class="progress-bg">
                      <div class="progress-fill" style="width: 60%;"></div>
                  </div>
                </li>
                 
              </ul>
          </div>
          <div class="col-md-6">
              <ul class="skills-list">
                <li class="skill-item">
                  <div class="title">
                      <h5>PHOTOSHOP / CANVA</h5>
                      <data value="60">2 years of Experience</data>
                  </div>
                  <div class="progress-bg">
                      <div class="progress-fill" style="width: 60%;"></div>
                  </div>
                </li>
                <li class="skill-item">
                  <div class="title">
                      <h5>BASIC NETWORKING</h5>
                      <data value="40">2 Semester</data>
                  </div>
                  <div class="progress-bg">
                      <div class="progress-fill" style="width: 40%;"></div>
                  </div>
                </li>
              </ul>
          </div>
      </div>
    </section>
  </div>
  
</div>


