
<style>

.header-gallery {
  text-align: center;
  padding: 32px;
  color: white;
}

.header-gallery p{
  margin: 0px 70px;
}

.row-gallery {
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 5px 100px
}


.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

</style>

<body>

<!-- Header -->
<section id="gallery">
  <div class="header-gallery">
  <h1>DIGITAL ART</h1>
  <p>My digital art is a mix of school projects and my hobby. I use Canva, Photoshop, and other tools to create colorful and imaginative pieces. It's a fun blend of learning and creativity!.</p>
  </div>
</section>


<!-- Photo Grid -->
<div class="row-gallery"> 
  <div class="column">
    <img src="media/works/ByahengPinoy.png" style="width:100%">
    <img src="media/works/collage.jpg" style="width:100%">
    <img src="media/works/logo.png" style="width:100%">
    <img src="media/works/EXAM.png" style="width:100%">
    <img src="media/works/DTart1.jpg" style="width:100%">
    
  </div>
  <div class="column">
    <img src="media/works/DTart2.jpg" style="width:100%">
    <img src="media/works/skynet.jpg" style="width:100%">
    <img src="media/works/fade.jpg" style="width:100%">
    <img src="media/works/Justart.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img src="media/works/Luzviminda.jpg" style="width:100%">
    <img src="media/works/rawr.png" style="width:100%">
    <img src="media/works/Ricafort_Activity1.png" style="width:100%">
    <img src="media/works/Ricafort,Luy_Sportposter.png" style="width:100%">
    
    
    
  </div>
  <div class="column">
    <img src="media/works/DTart3.jpg" style="width:100%">
    <img src="media/works/RICAFORT, LESTER LEAND.png" style="width:100%">
    <img src="media/works/RICAFORT_LOGO.png" style="width:100%">
    <img src="media/works/Ricafort_1stPubmat Layout.png" style="width:100%">
    
  </div>
</div>

