<section class="resume-section">
  <div class="resume-background" id="resume">
    <div class="container">

        <div class="section-heading">
          <p>Academic Attainment and Employment Record</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h3 class="section-title">Education</h3>
            <div class="resume-content">
              <h4>Bachelor of Science in Information Technology</h4>
              <h5>2020 - 2024</h5>
              <p><em>Western Mindanao State University</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-content">
              <h4>Science, Technology, Engineering, and Mathematics (STEM)</h4>
              <h5>2018 - 2020</h5>
              <p><em>Zamboanga Peninsula Polytechnic State University</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="section-title">Professional Experience</h3>
            <div class="resume-content">
              <h4>Encoder / Secretary</h4>
              <h5>2023 - Present</h5>
              <p><em>GIM FOODs | | Part Time Job</em></p>
              <ul>
                <li>Efficiently manage and organize receipts</li>
                <li>Encode data with precision and confidentiality </li>
                <li>Discreet handling of sensitive data</li>
                <li>Exceptional organizational skills and Keen attention to detail</li>
              </ul>
            </div>
            
          </div>
        </div>
    </div>
  </div>
</section>
